@charset "utf-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-size: 15px;
	text-align: left;
}


.out {
	width: 100%;
	height: 100%; 
	font-family: 'Darker Grotesque', sans-serif;
	margin-top: -42px;
	font-size: 1.3em;
}

.content1 {
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	float: left;
}

#content {
	clear: both;
	height: 500px;
	position: relative;
	margin-top: 250px;
}
.service-over, .service-over2 {
	display: none;
}

div.block {
	width: 60%;
    height:40%;
    margin-bottom:-120px;
}

#size {
	margin-bottom: -15px;
}

.join {
	overflow: hidden;
	float: left;
	width: 40%;
	margin-left: 20%;
	background-color: #fff;
}

.join2 {
	margin-left: 60%;
	background-color:#fff; 
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.all {	
	height: 100%;
    overflow-y: auto; 
}

.all::-webkit-scrollbar {
	display:none;
} 

a {text-decoration:none; color:#000000;}
.box { margin:10px; }
.box .title { display:block;  }
.box .title a { display:block; padding:10px; }
.box .cont { padding:10px; }

.login1 {
	margin-left:175px;
	position: absolute;
	bottom: 10%;
	left: 10%;
	background-color: #fff;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

#sign_in_logo{
	margin-left:175px;
	position: absolute;
	left:10%;
	top:30%;	
}

.group {
	margin-left: -20px;
	margin-top: 20px;
}

.login_h1 {
	margin-bottom: 70px;
	height: 42px;
}

.login2 {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width:30%;
	background-color: #fff;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}







/* .login_list {
	width: 60%;
} */

input:focus {
  outline: none;
}

.logo_img {
	width: 175%;
}

.login_h1 {
	/* font-family: 'Raleway', sans-serif;
	color: #4F4F4D;
	font-size: 1.6em; */
	margin: 0;
	padding: 0 1em;
	background: #000;
	font-size: 2em;
	color: #fff;
}

.btn {
    background-color: #4F4F4D;
   	font-family: 'Darker Grotesque', sans-serif;
    color: #F1F1F1;
    padding: 8px 30px;
    font-size: 1.3em;
    border-radius: 30px;
}
.btn_div {
	margin-top: 20px;
	text-align: center;	
}

.login_font {
	font-family: 'Darker Grotesque', sans-serif;
	color: #4F4F4D;
	font-size: 1.3em;
}

body.loading:after {
	content: '';
	display: block;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

body.ofH {
	overflow-y: hidden;
	min-width: 1280px;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 34, 34, .6);
	z-index: 999;
}	

#wrap {
	position: relative;
	min-width: 1280px;
	height: 100%;
}

#header {
	z-index: 1000;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 89px;
	text-align: center;
	z-index: 999;
}

.header a.all-menu {
	display: block;
	position: absolute;
	left: 40%;
	top: 40%;
	width: 48px;
	height: 48px;
	margin-top: -24px;
	margin-left: -24px;
}

.header a.all-menu span {
	display: block;
	position: absolute;
	left: 18px;
	width: 24px;
	height: 1px;
	background: #000;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	
}

/* 이게 햄버거 */

.header a.all-menu span:nth-child(1) {
	top: 15px;
}

.header a.all-menu span:nth-child(2) {
	top: 23px;
}

.header a.all-menu span:nth-child(3) {
	top: 31px;
}

.header .logo {
	position: absolute;
	top: 0;
	width: 100px;
	margin-top: 50px;
	padding-top: 33px;
	text-align: center;
	z-index: 10;
}

.header .fixmenu {
	position: relative;
	height: 10%;
	z-index: 1;
}

.header .fixmenu.active .plus {
	opacity: 0;
	filter: alpha(opacity = 0);
}

.header .fixmenu.active {
	width: 90px;
}

.header .fixmenu .plus span {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #000000;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.header .util {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.header .gnbwrap {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 175px;
	height: 100%;
	opacity: 0;
	background: #fff;
	filter: alpha(opacity = 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateX(-80%);
	-moz-transform: translateX(-80%);
	-o-transform: translateX(-80%);
	-ms-transform: translateX(-80%);
	transform: translateX(-80%);
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.header .gnbwrap.open {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.header .grid {
	margin-top: -18px;	
}
.header .gnbIn {
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	left: 0;
	width: 175px;
	height: 100%;
	margin-left: -90px;	
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.header .gnbIn::-webkit-scrollbar {
	display:none;
} 


.header .gnbIn>div {
	display: inline-block;
	vertical-align: middle
}

.header #gnb li {
	margin-top: 36px;
	opacity: 0.5;
	-webkit-transform: translateX(-40px);
	-moz-transform: translateX(-40px);
	-o-transform: translateX(-40px);
	-ms-transform: translateX(-40px);
	transform: translateX(-40px);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.header #gnb li:first-child {
	margin-top: 0;
}


.header #gnb li.active a, .header #gnb li a:hover {
	color: #222222;
}

.header .gnbwrap.open .gnbIn {
	left: 90px;
}

.header .gnbwrap.open #gnb li {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);	
	transform: translateX(0);
}

.valid {
	color: green;
	font-size: 0.7em;
	margin-top: 3px;
}

.invalid {
	color: red;
	font-size: 0.7em;
	margin-top: 3px;
}

.login_button {
	/* background-color: #4F4F4D;
   	font-family: 'Darker Grotesque', sans-serif;
    color: #F1F1F1;
    padding: 4px 10px;
    border-radius: 13px; */
  	background-color: #000;
    color: #fff;
    border: 0;
    padding: 4px 10px;
    width: 100px;
    cursor: pointer;
}

.login_button:hover{
	color:#fff;
}

a:hover {
	color: #aeaeae
}


.box .cont {
	/* padding: 10px; */
	font-size: 0.8em;
	text-align: left;
	margin-left: 20px;
}

a, a:hover, .pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img
	{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease
}

#manager_btn{
    font-size: 0.8em;	
}
#display {
	display: none;
}

#login_btn, #logout_btn {
	font-size: 0.9em;	
} 

/* 잉버튼 */
.ing_btn {
  width:175px;
  height:30px;
  border:2px solid #fff;
  background:#000;
  color:#fff;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 10px 0;
}

.menu_ing_btn {
  width:175px;
  height:30px;
  border:2px solid #fff;
  background:#000;
  color:#fff;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 10px 0;
}

.not_login_btn {
  width:100px;
  height:30px;
  border:2px solid #fff;
  background:#000;
  color:#fff;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 10px 0px;
}


.ing_btn a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:30px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.not_login_btn a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:30px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.ing_eff{
  width:175px;
  height:50px;
  left:-175px;
  background:#3e3636;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.menu_ing_eff{
  width:175px;
  height:50px;
  left:-175px;
  background:#AEAEAE;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.ing_eff_out{
  width:175px;
  height:50px;
  left:-175px;
  background:#d72323;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.ing_eff_yes{
  width:175px;
  height:50px;
  left:-175px;
  background:#408150;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.ing_eff_not{
  width:175px;
  height:50px;
  left:-175px;
  background:#ff0000;
  color:#fff;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.ing_eff_kakao{
  width:175px;
  height:50px;
  left:-175px;
  background:#ffe812;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.ing_eff_naver{
  width:175px;
  height:50px;
  left:-175px;
  background:#2DB400;
  color:#000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  font-weight: bold;
}

.ing_btn:hover .ing_eff {
  left:0;
}

.ing_btn:hover .ing_eff_yes {
  left:0;
}

.ing_btn:hover .ing_eff_kakao{
  left:0;
}

.ing_btn:hover .ing_eff_naver {
  left:0;
}

.ing_btn:hover .ing_eff_out {
  left:0;
}

.menu_ing_btn:hover  .menu_ing_eff{
  left:0;
}
.not_login_btn:hover .ing_eff_not{
  left:0;
}

.not_login_btn:hover a{
  color:#fff;
  text-decoration:line-through;
}


.ing_btn:hover a{
  color:#fff;
}

.menu_ing_btn:hover a{
  color:#fff;
}

.ing_btn:hover input{
  color:#fff;
  
}

.section_icon{
	width: 20px; 
	height: 20px; 
	margin-right: 10px;
}